[run]
branch = True
#Ignore
omit = *click*, *flask*, *flask_api*,*itsdangerous*,*jinja2*,*markupsafe*,*psycopg2*,*sqlalchemy*,*werkzeug*,*asyncio*,*concurrent*,*ctypes*,*encodings*,*hmac*,*html*,*http*,*mimetypes*,*multiprocessing*,*uuid*,*numbers*,*pydoc*,*stringprep*,*decimal*
